.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
  background-color: transparent !important;
  box-shadow:none !important;
}

#goog-gt-tt, .goog-te-balloon-frame{
  display: none !important;
}

.goog-text-highlight { 
  background: none !important; 
  box-shadow: none !important;
}
